.options {
     padding: 20px;
     margin-top: 20px;
     background-color: rgba(191, 191, 191, 0.15);
}

.caption {
    font-size: 18px;
    font-weight: 500;
}

.option {
    margin-top: 10px;
}

.widget {
  position: relative;
  background: #fff;
  color: #5b5b5b;
  margin-bottom: 20px;
  box-shadow: 0px 1px 8px #00000042;
}

.widget .widget-header {
/*    height: 50px;*/
    display: block;
    padding: 15px;
}

.widget .widget-header h2 {
    padding: 11px 15px 11px 15px;
    margin: 0px;
    font-weight: 500;
    font-size: 15px;
    font-family: 'Helvetica Medium';
    display: block;
    color: #fff;
    background: #2a3b12;
    text-align: center
}

.widget .widget-header h3 {
    padding: 11px 15px 11px 15px;
    margin: 0px;
    font-weight: 900;
    font-size: 15px;
    font-family: 'Helvetica Medium';
    display: block;
    color: #000;
    background: #2a3b12;
    text-align: center
}

.div_busqueda {
  padding: 10px;
  margin-bottom: 10Px;
}

#exportContainer {
    text-align: right;
}
